{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Profil Güncelle {% endblock title %}


{% block content %}



<h1>Profil Güncelleme Page </h1>
<div class='container'>
    <div class='row col-8'>
{% include 'components/messages.html'  %}
        <form action="" enctype="multipart/form-data" method = "POST" >
            
            {% csrf_token %}
            {{form|crispy}}
           <input type="submit" class= 'btn- btn-danger mt-3 mb-3' value="Profil Güncelle"/>
          
        </form>

</div>
</div>

{% endblock content %}